@font-face {
  font-family: overpass;
  src: url(/Overpass-Bold.ttf);
}

.dark {
  --theme: rgb(35, 37, 47);
  --entry: rgb(47, 54, 64);
  --hljs-bg: rgb(47, 54, 64);
  --code-bg: rgb(47, 54, 64);
  --code-block-bg: rgb(47, 54, 64);
  --tertiary: rgb(47, 54, 64);
}

h1,
h2,
h3,
h4,
h5,
h6,
.header,
.not-found,
.page-footer .prev,
.page-footer .next,
.post-tags {
  font-family: overpass, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* src: url("Overpass-Bold.ttf"); */
}

.post-content div {
  margin-bottom: var(--content-gap) !important;
}

.home-info-left {
  width: 100%;
}
.home-info-left img {
  display: inline-table;
  border-radius: 50%;
}

.entry-content li {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .home-info-left {
    display: none;
  }
}

.home-info-right {
  width: 100%;
}

.home-info {
  flex-direction: row;
  align-items: center;
}

.article-bottom {
  min-height: 150px;
}

.article-bottom .home-info-left {
  width: 50%;
  display: flex;
  justify-content: center;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
