{% capture category %}{{ post.categories | size }}{% endcapture %}
<div class="uk-grid">
	<div class="uk-width-1-5">
		<h1 class="date-time"><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span><span class='year'><!--%Y--></span>"}}</time></h1>
	</div>
	<div class="uk-width-4-5">
		<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
	</div>
</div>
{% if category != '0' %}
<div class="uk-grid">
	<div class="uk-width-1-5">
	</div>
	<div class="uk-width-4-5">
		

		
	</div>
</div>
{% endif %}
