{% unless page.no_header %}
{% if index %}
  <div class="uk-grid" data-uk-grid-margin>

	
	 <div class="uk-width-large-2-3 uk-width-medium-2-3 uk-width-small-1-1">
	
      <h1 class="link"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
	  {{ post.summary }}
      {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
	  
	  {% if excerpted == 'true' %}
      <footer>
      <a rel="" class="" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
      </footer>
      {% endif %}
	  </div>
	  
	  
	  
	      <div class="uk-width-large-1-3 uk-width-medium-1-3 uk-hidden-small">
        <h1 class="date-time index">{% include post/date.html %}{{ time }}</h1>
   
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
          <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a> <span class="fui-bubble-16"></span>
          {% endif %}




		  <div class="uk-grid sharing index">
		  <div class="uk-width-1-3"><span class="social facebook"><a href="http://www.facebook.com/share.php?u={{ site.url }}{{post.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data="{{ site.url }}{{ post.url }}"><i class="ion-social-facebook"></i><span class="uk-hidden-small"> -</span></a></span></div>
			<div class="uk-width-1-3"><span class="social twitter"><a href="http://twitter.com/home/?status={{ post.title}} - {{ site.url }}{{ post.url }} - via @{{site.twitter_user}}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data={{ site.url }}{{ post.url }}><i class="ion-social-twitter"></i><span class="uk-hidden-small"> -</span></a> </span></div>

  <div class="uk-width-1-3"><span class="social linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&title={{ post.title}}&url={{ site.url }}{{ post.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;" data={{ site.url }}{{ post.url }}><i class="ion-social-linkedin"></i><span class="uk-hidden-small"> -</span></a> </span></div>
   
			</div>

  
	
		  

    </div>
	</div>
	  
	  

{% else %}
  <header>
    <h1 class="date-time">{% include post/date.html %}{{ time }}</h1>
</header>

  
			
			
			
			
      {{ content }}
	  
	  


	  

{% endif %}
{% endunless %}