 {% if page.id == null %}
 
  <nav class="uk-navbar ">
 <div class="uk-container uk-container-center">
<div class="uk-grid">
	<div class="uk-width-1-1">

  	      {% include navigation.html %}
  </div>
  </div>
  </div>

  </nav>

  {% endif %}

 <style type="text/css">
.hero.max {
padding-top: 4px;
margin-bottom: 0px;
}
</style>
 
 <div class="uk-container uk-container-center">
	 <div class="uk-grid" data-uk-grid-match>
    
	
	<div class="uk-width-large-2-3 uk-width-medium-1-1">
  <div>
    <h1 class="name">{{site.author}}</h1>
	<div class="tagline alias">@minimaxir</div>
	<div class="tagline">Software QA Engineer in San Francisco, CA</div>
    <div class="tagline">Carnegie Mellon Class of 2012 Business IT Graduate</div>
	 

	 
	 
	 <div class="uk-grid sharing">
	 <div class="uk-width-1-4">
	 <span class="social facebook-p">
			<a href="http://facebook.com/{{ site.facebook_user }}" target="_blank"> <i class="ion-social-facebook"></i> </a>
		</span>
	 </div>
	 
	 <div class="uk-width-1-4">
	 <span class="social twitter-p">
			<a href="http://twitter.com/{{ site.twitter_user }}" target="_blank"> <i class="ion-social-twitter"></i> </a>
		</span>
	 </div>
	 
	 <div class="uk-width-1-4">
	 <span class="social linkedin-p">
			<a href="http://linkedin.com/in/{{ site.linkedin_user }}" target="_blank"> <i class="ion-social-linkedin"></i> </a>
		</span>
	 </div>
	 
	 <div class="uk-width-1-4">
	 <span class="social github-p">
			<a href="http://github.com/{{ site.github_user }}" target="_blank"> <i class="ion-social-github"></i> </a>
		</span>
	 </div>
	 </div>
	
	
  </div>
  </div>
  
  <div class="uk-width-large-1-3 uk-width-medium-1-1 uk-hidden-small">


	<a href="/about">{% img /Max388.png %}</a>
	
	</div>
  
  </div>
</div>