{% if page.id %} 


 <nav class="uk-navbar ">
 <div class="uk-container uk-container-center">
<div class="uk-grid">
	<div class="uk-width-1-1">

  	      {% include navigation.html %}
  </div>
  </div>
  </div>

  </nav>


<style type="text/css">
.hero.top {
background: -moz-linear-gradient(top, rgba(44,62,80,0.9) 0%, rgba(44,62,80,0.9) 100%), url({{ site.url }}/img/{{ page.image }}); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,62,80,0.9)), color-stop(100%,rgba(44,62,80,0.9))), url({{ site.url }}/img/{{ page.image }}); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(44,62,80,0.9) 0%,rgba(44,62,80,0.9) 100%), url({{ site.url }}/img/{{ page.image }}); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(44,62,80,0.9) 0%,rgba(44,62,80,0.9) 100%), url({{ site.url }}/img/{{ page.image }}); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(44,62,80,0.9) 0%,rgba(44,62,80,0.9) 100%), url({{ site.url }}/img/{{ page.image }}); /* IE10+ */
background: linear-gradient(to bottom, rgba(44,62,80,0.9) 0%,rgba(44,62,80,0.9) 100%), url({{ site.url }}/img/{{ page.image }}); /* W3C */

background-size: 100% auto;
padding-bottom: 40px;
background-position: 0px -100px;
}
</style>

 <div class="uk-container uk-container-center">
 
 

	 <div class="uk-grid">
    
	
	<div class="uk-width-1-1">
 <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
	
	
  </div>
  </div>
  
  {% include social-sharing.html %}

  </div>


{% else %}

{% include hero-max.html %}

{% endif %}
