  <div class="uk-grid">
  <div class="uk-width-1-1">


		  <div class="uk-grid sharing">
		  <div class="uk-width-1-3"><span class="social facebook"><a href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data="{{ site.url }}{{ page.url }}"><i class="ion-social-facebook"></i><span class="uk-hidden-small"> -</span></a></span></div>
			<div class="uk-width-1-3"><span class="social twitter"><a href="http://twitter.com/home/?status={{ page.title}} - {{ site.url }}{{ page.url }} - via @{{site.twitter_user}}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data={{ site.url }}{{ page.url }}><i class="ion-social-twitter"></i><span class="uk-hidden-small"> -</span></a> </span></div>

  <div class="uk-width-1-3"><span class="social linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title}}&url={{ site.url }}{{ page.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;" data={{ site.url }}{{ page.url }}><i class="ion-social-linkedin"></i><span class="uk-hidden-small"> -</span></a> </span></div>
   
			</div>
	
	</div>
  </div>