<div class="col-md-1">
  <a href="/"><h4>Home</h4></a>
</div>
<!--
<div class="col-md-2">
  <div class="social-icon-list">
    {% if site.facebook_user %}
    <a title="Facebook" href="https://facebook.com/{{ site.facebook_user }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
    {% endif %}
  	{% if site.twitter_user %}
    <a title="Twitter" href="https://twitter.com/{{ site.twitter_user }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
    {% endif %}
	{% if site.linkedin_user %}
    <a title="LinkedIn" href="https://linkedin.com/in/{{site.linkedin_user}}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    {% endif %}
    {% if site.github_user %}
    <a title="GitHub" href="https://github.com/{{ site.github_user }}" target="_blank"><i class="fa fa-github-square"></i></a>
    {% endif %}
    {% if site.email %}
    <a title="E-Mail" href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i></a>
    {% endif %}
  </div>
</div>
-->

{% include end_footer.html %}
