  <div class="row sharing index">
  
		  <span class="social facebook col-xs-4"><a href="http://www.facebook.com/share.php?u={{ site.url }}{{ post.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data="{{ site.url }}{{ post.url }}"><i class="fa fa-facebook"></i><span class="count hidden-xs"> -</span></a></span>
  
		<span class="social twitter col-xs-4"><a href="http://twitter.com/home/?status={{ post.title}} - {{ site.url }}{{ post.url }} - via @{{site.twitter_user}}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;" data={{ site.url }}{{ post.url }}><i class="fa fa-twitter"></i><span class="count hidden-xs"> -</span></a> </span>

  <span  class="social linkedin col-xs-4"><a href="http://www.linkedin.com/shareArticle?mini=true&title={{ post.title}}&url={{ site.url }}{{ post.url }}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;" data={{ site.url }}{{ post.url }}><i class="fa fa-linkedin"></i><span class="count hidden-xs"> -</span></a> </span>
   
			</div>