body {
background: white;
color: #34495e
}

h1, h2 {
color: #2980B9
}


h3, h4, h5, h6,.date-time {
color: #95A5A6
}

a:hover {
color: #ff5544
}

p {
margin: 0 0 20px;
}

.badge {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .badge:hover {
    background-color: #2980B9;
    text-decoration: none; }
	
.badge a, .badge a:hover {
color: white;
}

.badge.facebook {
background-color: #2980B9;
}

.facebook a:hover{
color: #2980B9 !important;
}

.badge.twitter {
background-color: #3498DB;
}

.twitter a:hover{
color: #3498DB !important;
}

.badge.googleplus {
background-color: #C0392B;
}

.googleplus a:hover {
color: #C0392B !important;
}

.badge.linkedin {
background-color: #34495E;
}

.linkedin a:hover{
color: #34495E !important;
}

.github a:hover {
color: #7F8C8D !important;
}

.sharing .badge:hover {
background-color: #ECF0F1;
}



.nav, .sharing {
font-size: 150%;
}

.nav.social {
float: right;
}

.categories {

border-top: 1px solid #ededed;
margin-top: 30px;
padding-top: 10px;

}

.sharing {
margin-bottom: 20px;
}

.sharing  .badge{
font-size:100%;

display: block;
width: 75%
}

.sharing .badge a {
	text-align: center;
	display: block;
}

.sharing .badge a i{
	float:left;
}

.hentry .sharing .badge {
font-size: 200%;
margin: 0 auto;
}

blockquote p {
margin-bottom: 10px;
}

@-moz-document url-prefix() {
                      .sharing .badge a i{
					margin-top: -5px;
					}
                    }

.hentry .sharing .badge a i{
float: none;
}

li {
margin-bottom: 10px;
}

.nav li {
margin-bottom: 0px;
}



@media (max-width: 979px) {
	.nav.social {
float: left;
}
}

@media (max-width: 767px) {
.categories {
display: none;
}

.jumbotron {
padding: 70px 10px 70px 0px;
}

.sharing .badge {
margin: 0 auto;
}

#main {
padding: 0 10px;
}

.jumbotron {
	font-size: 48px;
}




}

@media (min-width: 767px) {
#content {
margin-right: 30px !important;
}
}


@media (max-width: 479px) {
	.date-time, h1.link {
	text-align: center;
	}
	
	.span2 {
	border-bottom: 2px solid #ededed;
	}
	
	.jumbotron {
	font-size: 40px;
}
	
}