{% capture category %}{% if post %}{{ post.categories | category_links }}{% else %}{{ page.categories | category_links }}{% endif %}{% endcapture %}
{% unless category == '0' %}
in
<span class="categories">
  {% if post %}
    {% for category in post.categories %}
         <a href="{{ site.root }}{{category | downcase}}">{{ category}}</a></span>
          {% endfor %}
  {% else %}
    {% for category in page.categories %}
          <a href="{{ site.root }}{{category | downcase}}">{{ category}}</a></span>
     {% endfor %}
  {% endif %}
</span>
{% endunless %}
