<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
    <audio controls preload="{{ .Get "preload" | default "metadata" }}">
      {{ with .Get "src" }}<source src="{{ . }}" type="audio/mpeg">{{ end }}
    </audio>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
        {{ with (.Get "title") -}}
            {{ . }}
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
            {{- .Get "caption" | markdownify -}}
            {{- with .Get "attrlink" }}
                <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
{{- end }}
  </figure>